


*{
    margin: 0%;
    padding: 0%;
}
/* .particles-js{
    color: aliceblue;
    align-items: center;
    margin-left: 15%;
    margin-top: 10%;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
} */
.navbar bg-light .container.navbar-brand.back.jpg{
    /* margin-right: 100%; */
padding: 0%;}
/* 
.background-image{
    height: 10%;
} */

.head .hello{
    width: 100px;
    height: 100px;
}



         /* {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        } */

        #particles-js
        {
            /* width: 100%;
            height: 100vh; */
            background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("gotham.jpg");
            /* color: aliceblue; */
            align-items: center;
            /* margin-left: 15%;
            margin-top: 10%; */
            margin: 0%;
            padding: 0%;
            color: rgb(128, 119, 119);
            font-size: 10rem;
            

            /* font-size: 80px; */
            font-family: 'Times New Roman', Times, serif;
        }
        .pixelated {
            image-rendering: pixelated;
          }

       h1
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            font-size: 80px;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        } 
        /* .hello{
            margin-top: 30%;
            
        } */
        .about {
           color: rgb(214, 205, 205);
            /* margin-left: 8%; */
            font-size: 25px;
        }
        .about h2{
            font-size: 10rem;
            color: rgb(128, 119, 119);
        }
        .about h4{
            margin-left: 45px;
        }
        
.about p{
    margin-left: 45rem;
}
.about .me img{
    height: 25rem;
    width: 40rem;
    border-radius: 25%;
    margin-left: 10rem;

}
img:hover
{
    --w:0px;
    box-shadow: rgba(166, 22, 22, 0.401) 0px 60px 40px -7px;
}
.tools h2{
    /* margin-left: 30%; */
    color: rgb(128, 119, 119);
    font-size: 10rem;
}
.block{
    display: flex;
}
.block .card1{
   /* padding: 10%; */
   margin-left: 10%;
   margin-right: 5%;
}
.block.card2{
    margin-right: 5%;
}
.card-text{
    color: rgb(175, 163, 163);
}
.block img{
    border-radius: 15%;
}
.cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* align-items: right; */
    padding: 10% 10% 10%;
 }
 .left{
     width: 50%;
 }
 .left img{
    height: 25rem;
    width: 40rem;
    border-radius: 36%;
    /* margin-left: 10rem; */
 }

 .right{
     text-align: right;
     width: 50%;
 }
 .block img {
    border-radius: 77%;
  }



  body{
    color:#0c0808
  }
  .right_conatct_social_icon{
       background: linear-gradient(to top right, #ef2f2f -5%, #4d0202 100%);
  }
  .contact_us{
      background-color:black;
      padding: 120px 0px;
  }
  
  .contact_inner{
      background-color: #2d2b2b;
      position: relative;
      box-shadow: 20px 22px 44px #251d1dcc;
      border-radius: 25px;
  }
  .contact_field{
      padding: 60px 340px 90px 100px;
  }
  .right_conatct_social_icon{
      height: 100%;
  }
  
  .contact_field h3{
     color: #000;
      font-size: 50px;
      letter-spacing: 1px;
      font-weight: 600;
      margin-bottom: 10px
  }
  .contact_field p{
      color: #000;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 1px;
      margin-bottom: 35px;
  }
  .contact_field .form-control{
      border-radius: 0px;
      border: none;
      border-bottom: 1px solid #1f1b1b;
  }
  .contact_field .form-control:focus{
      box-shadow: none;
      outline: none;
      border-bottom: 2px solid #28282d;
  }
  .contact_field .form-control::placeholder{
      font-size: 13px;
      letter-spacing: 1px;
  }
  
  .contact_info_sec {
      position: absolute;
      background-color: #938f8f;
      right: 1px;
      top: 18%;
      height: 340px;
      width: 340px;
      padding: 40px;
      border-radius: 25px 0 0 25px;
  }
  .contact_info_sec h4{
      letter-spacing: 1px;
      padding-bottom: 15px;
  }
  
  .info_single{
      margin: 30px 0px;
  }
  .info_single i{
      margin-right: 15px;
  }
  .info_single span{
      font-size: 14px;
      letter-spacing: 1px;
  }
  
  button.contact_form_submit {
      background: linear-gradient(to top right, #ef2f2f -5%, #4d0202 100%);
      border: none;
      color: #fff;
      padding: 10px 15px;
      width: 100%;
      margin-top: 25px;
      border-radius: 35px;
      cursor: pointer;
      font-size: 14px;
      letter-spacing: 2px;
  }
  .socil_item_inner li{
      list-style: none;
  }
  .socil_item_inner li a{
      color: #fff;
      margin: 0px 15px;
      font-size: 14px;
  }
  .socil_item_inner{
      padding-bottom: 10px;
  }
  
  .map_sec{
      padding: 50px 0px;
  }
  .map_inner h4, .map_inner p{
      color: #000;
      text-align: center
  }
  .map_inner p{
      font-size: 13px;
  }
  .map_bind{
     margin-top: 50px;
      border-radius: 30px;
      overflow: hidden;
  }
  .contact_field h3{
    color: rgb(128, 119, 119);
    font-size: 10rem;
  }
  .contact_info_sec h4 {
    letter-spacing: 1px;
    padding-bottom: 15px;
    font-size: 40px;
  }





  a {
    text-decoration: none;
    color: #fff;
  }
  ul li {
    list-style: none;
    color: #fff;
  }
  /* body {
    display: grid;
    grid-template-rows: 1fr 10rem auto;
    grid-template-areas: "main" "." "footer";
    overflow-x: hidden;
    background: #F5F7FA;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
  } */
  body .footer {
    z-index: 1;
    --footer-background:rgb(226, 31, 18);
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
  }
  body .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
  }
  body .footer .bubbles .bubble {
      position: absolute;
  left: var(--position, 50%);
  background: rgba(135, 45, 45, 0.31);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
  }
  body .footer .content {
    padding: 6rem 1rem 2rem;
    background: rgb(30, 28, 28);
    z-index: 2;
  }
  .footer .content .container {
    max-width: 768px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    color: #fff;
  }
  
  .content h2 {
    margin-bottom: .25rem;
    font-size: 2.25rem;
  }
  
  .content span {
    font-size: .875rem;
  }
  
  .footer__links  {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    transition: all 150ms ease-out;
    justify-content: center;
  }
  
  .footer_links .footer_link {
    transition: all 150ms ease-out;
    display: inline-block;
  }
  
  .footer__link:hover:after {
      width: 100%;
  }
  
  .footer__link:after {
      content: '';
      display: block;
      margin: auto;
      height: 2px;
      width: 0px;
      background-color: #fff;
      transition: width .25s ease-out;
  }
  .footer__socials {
    justify-self: flex-end;
  }
  
  .footer__social {
    font-size: 1.25rem;
    margin-right: 1.5rem;
  }
  .footer__social:hover {
    opacity: 0.8;
  }
  
  .footer__copy {
    text-align: center;
    background:rgb(0, 0, 0);
    font-size: .875rem;
    text-align: center;
    color: #dcdcdc;
    padding: 3rem 0 2rem;
  }
  @-webkit-keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  
  @media screen and (max-width: 767px){
    .footer .content {
      padding: 0 1.5rem;
    }
    .footer .content .container {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .content h2 {
      font-size: 1.5rem;
    }
  
    .content span {
      font-size: .813rem;
    }
  
    .footer__links  {
      flex-direction: column;
      row-gap: 1.5rem;
    }
    
    .footer__socials {
      justify-self: flex-start;
    }
  }
  
  @media screen and (max-width: 567px){
    .footer .content .container {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 3.5rem;
    }
  }
  
  .logo{
    height: 10px;
    width: 10px;
  }